.logo img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: -9px;
}

.user_menu li.active a {
    color: white;
}

.user_menu li.active .badge {
    background-color: #fff;
    color: #337ab7;
}

.user_menu li .badge {
    background-color: #337ab7;
    color: #fff;
}

.section_buttons_menu {
    margin-bottom: 20px;
}

.section_filter_form {
    padding: 25px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 25px;
}

.CITableCont {
    padding: 10px;
    background: #f5f5f5;
    margin-bottom: 20px;
}

.CIh2notmargingup {
    font-weight: 500;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 2px solid #6091ba;
    padding: 5px;
}

.AcademyUserDetail {
    background: #f5f5f5;
    width: 45%;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.CIRequestDetail {
    background: #f5f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 25px;
}

@media (max-width: 767px) {
    .AcademyUserDetail {
        width: 100%;
    }
}

.CIDescListInside dt {
    color: #6091ba;
    font-size: 15px;
}

.CIDescListInside dd {
    margin-bottom: 5px;
}

label.error {
    color: #B22222;
}

ul.errorlist li {
    color: #B22222;
}

.semaphore {
    width: 32px;
    height: 32px;
    font-size: 100%;
    padding: 6px 0px 0px;
    display: inline-block;
    vertical-align: middle;
    @include border-radius(100%);
    margin-left: 3px;
    border-radius: 5px;
    
}

.semaphore span {
    font-size: 18px
}

.semaphore-new {
    background-color: #46b8da
}
        
.semaphore-active {
    background-color: #00a858
}

.semaphore-warning {
    background-color: #fa6a31
}

.semaphore-default {
    background-color: #4c565e;
}
