{% extends "layout/index.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">About</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">About</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="page-content">
                <div class="row page-row">
                        <div class="news-wrapper col-md-10 col-sm-7">                         
                            <article class="news-item page-row has-divider clearfix row">       
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <p>Smart Data Analysis Systems Group (SDAS Group) is supported by experts and young researchers from several academic institutions from different countries.</p>

                                    <p>TSDAS Group is envisioned as an independent, non-profit institution that serves its members' home universities in a cross-disciplinary way, promoting formative research on artificial intelligence and data analytics (fostering not only individual but collective growth, and from which contemporary academic communities -especially from developing countries- can truly be benefitted from).</p>

                                    <p>The philosophy of our group consists in doing research with full freedom and motivated by nothing but true passion and, above all, keeping principles that encourage a pleasant, active and productive environment (fundamentally, principles of cordiality, loyalty, cooperation, mutual respect, commitment, gratitude and honesty).</p>

                                    <p>WWe develop software- and intelligent-systems-driven solutions for data-analysis-related problems of industry, medicine and education fields. By vocation, all our R&D processes have a strong and genuine commitment to the synergistic, ethical and interactive integration of human thinking and artificial intelligence.</p>

                                    <p>We also offer specialized services at a technical consulting and deployment level in a wide range of data analysis related topics covered by our research programs.</p>

                                    <p>By vocation, all our R&D processes have a strong and genuine commitment to the synergistic, ethical and interactive integration of human thinking and artificial intelligence.</p>
                                    
                                    <p>We also offer specialized services at a technical consulting and deployment level in a wide range of data analysis related topics covered by our <a href="https://sdas-group.com/researchtopics/">research programs</a>.</p>
                                    <p>Interested to know more about us, find below:</p>
                                    <ul>
                                        <li><a href="https://sdas-group.com/documentation/">Our documentation</a> (administrative information and policies, membership application procedure, and more).</li>
                                        <li><a href="https://sdas-group.com/manifesto/">A word by our founder</a>.</li>
                                    </ul> 
                                </div>
                            </article><!--//news-item-->
                        </div>
                </div>
            </div>
{% endblock content %}