{% extends "layout/index.html" %}
{% load static %}

{% block title %}Collaborations{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Collaborations</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Collaborations</li>
                        </ul>
                    </div>
                </header>
            </div>

    <div class="col-lg-6">
        <section class="video">
            <h3>Journals</h3>

            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=8000153138&tip=sid&clean=0">Computer Science Review</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=86430&tip=sid&clean=0">Remote Sensing</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=21100374601&tip=sid&clean=0">IEEE Access</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=21100372856&tip=sid&clean=0">Data in Brief</a></p><p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=23038&tip=sid&clean=0">AMC Computing Surveys</a></p>  
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=24807&tip=sid&clean=0">Neurocomputing</a></p>  
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=24825&tip=sid&clean=0">Pattern Recognition Letters</a></p> 
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=24772&tip=sid&clean=0">Knowledge-Based System</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=21100830173&tip=sid&clean=0">IEEE Sensors</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=21100830173&tip=sid&clean=0">Peerj Computer Science</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=88345&tip=sid&clean=0">Journal of Global Optimization</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=20969&tip=sid&clean=0">Journal of Machine Learning Research</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=24598&tip=sid&clean=0">Mathematical Models and Methods in Applied Sciences</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.scimagojr.com/journalsearch.php?q=23604&tip=sid&clean=0">Computer Methods and Programs in Biomedicine</a></p>

            <h3><a target="_blank" href="https://docs.google.com/spreadsheets/d/1Fa4aVQzK9IoWeygHNDDBJ-nHbqJgD5_tnheLaCovUPE/edit?usp=sharing">Calog of recommended journals</a></h3>

        </section><!--//video-->
    </div>

    <div class="col-lg-6">
        <section class="video">

            <h3>Postgraduate Programs</h3>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://www.doctor.urv.cat/es/futuros-estudiantes/oferta/7709/index/">Doctorado de Informática y Matemáticas de la Seguridad - Universitat Rovira i Virgili, Spain</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://www.upv.es/entidades/EDOCTORADO/info/1004900normalc.html">Doctorado en Ingeniería y Producción Industrial - Universidad Politécnica de Valencia, Spain</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://ciclope.unicauca.edu.co/mcomputacion/">Maestría en Computación - Universidad del Cauca, Colombia</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://doctorados.ugr.es/tic/">Doctorado en TIC - Universidad de Granada, Spain</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://www.manizales.unal.edu.co/menu/programas-academicos/posgrados/doctorado-en-ingenieria-linea-de-investigacion-en-automatica/">Doctorado en Ingeniería: Línea de Investigación - Universidad Nacional de Colombia, Colombia</a></p>

            <h3>Conferences</h3>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://www.confercare.manchester.ac.uk/events/ideal2019/">International Conference on Intelligent Data Engineering and Automated Learning (IDEAL)</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://www.iwinac.uned.es/">International Work-Conference on the Interplay between Natural and Artificial Computation (IWINAC)</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://iwann.uma.es/">International Work-Conference on Artificial Neural Networksutation (IWANN)</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://2019.haisconference.eu/">International Conference on Hybrid Artificial Intelligent Systems (HAIS)</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://aciids.pwr.edu.pl/2019/">Asian Conference on Intelligent Information and Database Systems (ACIIDS)</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://lod2019.icas.xyz/call-for-papers/">International Conference on Machine Learning, Optimization, and Data Science (LOD)</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://smartsys.ualg.pt/2020/">Smart Systems SmartSys</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://iccs-conference.org/">International Conference in Conceptual Structures</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.iccs-meeting.org/iccs2020/">Conference on Computational Science</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://www.cisti.eu/index.php?option=com_content&lang=en">Conference on Information Systems and Technologies</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://iccbr20.org/">International Conference on Case-Based Reasoning (ICCBR)</a></p>

            <h3>Repositories</h3>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://www.iberamia.org/iberamia/grupos-investigacion/">IBERAMIA Research Group Repository</a></p>

            <h3>Research Groups</h3>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://sites.google.com/aunar.edu.co/investigacion/grupo-de-investigaci%C3%B3n-sedmatec">SEDMATEC</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="http://deim.urv.cat/~alephsys/">Alephsys Lab</a></p>
            <p style="text-align: justify; alignment-adjust: auto"><a target="_blank" href="https://tic167.ugr.es/datos_inicio/">INGREVI</a></p>

        </section><!--//video-->
    </div>

{% endblock content %}