{% extends "layout/index.html" %}
{% load widget_tweaks %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="page-wrapper">
    <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Contact</h1>
        <div class="breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                <li class="current">Contact</li>
            </ul>
        </div>
    </header>

    <div class="col-md-9 col-sm-8">
        <div class="section-content">
            <div class="row page-row">
                <section class="widget has-divider">
                    <!-- <div class="section-content">  -->
                    <h3 class="title">Official sites</h3>
                    <!-- <p class="tel"><i class="fa fa-info"></i>  sdas-group.com</p><span class="adr-group"></span> -->
                    <ul>
                      <li>Official website:<a href="https://sdas-group.com/"> https://sdas-group.com/</a></li>
                      <li>Research Gate profile:<a href="https://researchgate.net/lab/SDAS-Group-Diego-Peluffo"> https://researchgate.net/lab/SDAS-Group-Diego-Peluffo</a></li>
                      <li>Scholar Google Profile:<a href="https://scholar.google.com/citations?user=HPGq5K0AAAAJ&hl=en"> https://scholar.google.com/citations?user=HPGq5K0AAAAJ&hl=en</a></li>
                      <li>LinkedIn site:<a href="https://linkedin.com/company/sdas-research-group"> https://linkedin.com/company/sdas-research-group</a></li>
                      <li>Facebook fan page:<a href="https://facebook.com/SDASResearchGroup"> https://facebook.com/SDASResearchGroup</a></li>
                      <li>YouTube channel:<a href="https://www.youtube.com/@sdas-group"> https://www.youtube.com/@sdas-group</a></li>
                      <li>Twitter:<a href="https://twitter.com/sdas_group"> https://twitter.com/sdas_group</a></li>
                      <li>GrupLac:<a href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000023095" target="_blank"> https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000023095</a></li>
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">Headquarters and Contact</h3>
                    <p class="tel"><i class="fa fa-map-marker"></i> Bogota 111211, Colombia (Primary)</p>
                    <p class="tel"><i class="fa fa-map-marker"></i> Ben Guerir 43150, Morocco</p>
                    <p class="tel"><i class="fa fa-phone"></i> Phones: +57 3217080154 (WhatsApp)</p>
                    <p class="tel"><i class="fa fa-envelope"></i> contact(at)sdas-group.com
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
