{% extends "layout/index.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="page-wrapper">
    <header class="page-heading clearfix">
        <div class="breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                <li class="current">Contact</li>
            </ul>
        </div>
    </header>

    <div class="page-content">
        <div class="row page-row">
            <h2 class="heading-title">Thank you for contacting us. We will be contacting you back soon.</h2>
            <p><a href="/" class="btn btn-theme">Com back to home</a></p>
        </div>
    </div>
</div>
{% endblock %}