{% extends "layout/index.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- <section class="promo box box-dark">        
    <div class="col-md-9">
    <h1 class="section-heading">Home</h1>
        <p></p>
    </div>  
</section> -->

    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Home</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
        </header>
    </div>

<div class="row cols-wrapper">
    <div class="col-lg-9">
        <section class="video">
            <div class="section-content">    
                <div>
                    <div class="carousel-inner">
                        <div>            
                        </div>
                    </div>
                </div>

                <h3 class="center">
                    <a href="{% url 'about' %}"><center>Welcome on board to SDAS Group.</center></a> 
                </h3>
                <h3 class="center">
                    <a href="{% url 'about' %}"><center>Would you like SDASing? Join us and be proudly a SDASer!</center></a> 
                </h3>
            </div><!--//section-content-->

            <div class="carousel-inner">
                <div>
                    {% for info in home_info %}
                    {% if info.video %}
                    <center><video controls autoplay src="{{ info.video.url }}"></video></center>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>   
            <div class="details col-md-10 col-sm-9 col-xs-8">
                <p class="description">Smart Data Analysis Systems Group (SDAS Group) is supported by experts and young researchers from several academic institutions from different countries.</p>
                <p class="description">We develop software- and intelligent-systems-driven solutions for data-analysis-related problems of industry, medicine and education fields.</p>
                <p class="description">By vocation, all our R&D processes have a strong and genuine commitment to the synergistic, ethical and interactive integration of human thinking and artificial intelligence.</p>
                <p class="description">A wide range of data analysis related topics are covered by our <a href="https://sdas-group.com/researchtopics/">research programs</a>.</p>
                <p class="description">At a technical consulting and deployment level, SDAS Group offers <a href="https://sdas-group.com/services/">specialized services</a>.</p>
                <p class="description">Interested to know more about us, find below:</p>                    
                <ul>
                    <li><a href="https://sdas-group.com/documentation/">Our documentation</a> (administrative information and policies, membership application procedure, and more).</li>
                    <li><a href="https://sdas-group.com/manifesto/">A word by our founder</a>.</li>
                </ul> 
            </div>
        </section><!--//video-->
    </div>

    <aside class="page-sidebar col-lg-3 offset-lg-1 col-md-4 offset-md-1">                    
        <section class="widget has-divider">
            <h4 class="title"><center>Highlights & News</center></h4>
        </section><!--//widget-->  
    </aside>

    <!--<aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">
        <section class="widget has-divider">
            <center>
                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                <img src="{% static 'libs/img/Extraordinary_Meeting_Principal_Commitee.jpeg' %}" style="width: 235px; height: 197px;" alt="">
            </center>
        </section>
    </aside> -->  

    <aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">                    
        <section class="widget has-divider">
            <h5 class="title"><a href="https://sdas-group.com/manifesto/"><center>A word by our founder</center></a></h5>
        </section><!--//widget-->  
    </aside>

    <aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">                    
        <section class="widget has-divider">
            <h5 class="title"><center><a target="_blank" href="https://sdas-group.com/gallery/">Design of a low computational cost prototype for cardiac arrhythmia detection: Preliminary results</center></a></h5>
            <center>
                <iframe class="video-iframe" src="//www.youtube.com/embed/MbzueLsPI2I?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
            </center>
        </section>
    </aside>

 <!--/   <aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">                    
        <section class="widget has-divider">
            <h5 class="title"><center><a target="_blank" href="https://sdas-group.com/gallery/">Happy New Year</center></a></h5>
            <center>
                <iframe class="video-iframe" src="https://www.youtube.com/embed/-WTRaMDFBdw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </center>
        </section>< 
    </aside> --> 

 <!--/  <aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">                    
        <section class="widget has-divider">
            <h5 class="title"><a href="https://sdas-group.com/courses/"><center><u>SDAS-Group-SUPPORTED JOURNALS</u></center></a></h5>
                <ul class="breadcrumbs-list">
                    <ul class="breadcrumbs-list">
                        <li><a target="_blank" href="https://revistas.itm.edu.co/index.php/tecnologicas">TECNOLÓGICAS</a></li>
                    </ul>
                </ul>
        </section>
    </aside>

   <aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">
        <section class="widget has-divider">
            <center>
                <h5 class="title"><a href="https://sdas-group.com/gallery/"><center><u>KSC for motion segmentation</u></center></a></h5>
                <iframe class="video-iframe" src="//www.youtube.com/embed/czAagm6N3zo?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
            </center>
        </section>
    </aside>

    <aside class="page-sidebar  col-lg-3 offset-lg-1 col-md-4 offset-md-1">                    
        <section class="widget has-divider">
            <h5 class="title"><a target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-030-61702-8_19"><center>Inverse Data Visualization Framework (IDVF): Towards a prior-knowledge-driven data visualization</center></a></h5>
            <div>
                <center>
                    <iframe class="video-iframe" src="https://www.youtube.com/embed/opwCi-vPFQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>
            </div>
        </section>
    </aside> --> 
</div>

{% endblock content %}

