{% extends "layout/index.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Manifesto</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Manifesto</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="page-content">
                <div class="row page-row">
                        <div class="news-wrapper col-md-10 col-sm-7">                         
                            <article class="news-item page-row has-divider clearfix row">       
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <p><b>A word by the Founder and Head of SDAS Research Group</b></p>
                                    <p><strong><u>Original:</u> August 22, 2018. <u>Last updated:</u> August, 2022.</strong></p>
                                    <p>Dear SDASers and Society in General,</p>
                                    <p>My training in research was never more conscious than since I have understood that research is also a part of my work as a person committed to serve society -even as citizen's duty. Once I finished my doctoral studies and postdoctoral training, and with four years of experience as a full-time lecturer in university institutions from developing countries, I have been truly convinced to be involved in a group devoted to formative research. In other words, a research group encouraging not only individual but collective growth, and which the contemporary academic communities can truly be benefited from. Given my experience, such a formative research has been focused on applied mathematics and machine learning at the service of a wide range of data analysis applications (medicine, industry, education, and economics).</p>
                                    <p>Naturally, grounded on this philosophy and considering data-analysis-related research topics, I -as the head- along with some colleagues and active postgraduate students have created the research group, so-named “Smart Data Analysis Systems Group (SDAS Research Group)”. SDAS Research Group is supported by experts and young researchers from various academic institutions in Morocco, Colombia, Ecuador, Brazil, Argentina, Cuba, Venezuela, Italy and Spain. By vocation, all SDAS Research Group's researches and developments are genuinely committed to the synergistic, ethical and interactive integration of human thinking and artificial intelligence.</p>
                                    <p>The administrative information and policies document, which rules all the SDAS Group administrative and academic formalities, clearly reflects the research philosophy that I foster and have been devoted to. Briefly put, this philosophy consists in doing research with full freedom and motivated by nothing but true passion and, above all, keeping principles that encourage a pleasant, active and productive environment (fundamentally, principles of cordiality, loyalty, cooperation, mutual respect, commitment, gratitude and honesty).</p>
                                    <p>At an organizational level -excepting for the principal committee- SDAS Research Group has a technically horizontal system, which includes four types of members (all of them internally recognized as researchers and SDASers): A principal committee (for management issues), a research board (principal, associate, senior, postdoctoral and junior researchers), students (undergraduate, master's and doctorate), and volunteers.</p>
                                    <p>The operation of the research group follows the model by Ander-Egg and Aguilar, presented in their book entitled “How to prepare a project” (translated from Spanish), as follows: We have research plans which are activated by programs, which in turn are activated by projects. Correspondingly, the ongoing projects will involve activities and tasks. In this regard, the principal committee designs the plan after assessing trends, needs, open calls for funding, and the group's human resources. The programs are directed by the associate researchers, while the projects normally correspond to doctoral theses or projects with external funding. Finally, activities and tasks may be supported by master's and final degree projects.</p>
                                    <p>The SDAS-Research-Group's philosophy mainly lies in ethic principles and values of loyalty, honesty, and cooperation. It promotes and supports creative thinking and processes, as well as it fosters an atmosphere wherein a high moral and self-esteem may be experienced across all the members. That is the reason why our slogan is partly formed by the sentences ``Welcome on board to SDAS Group'', ``Join us and be proudly a SDASer'' and ''Let's keep SDASing together'' highlighting respectively our fundamental concepts of open-doors work, natural sense of high moral, and active, collaborative research.</p>
                                    <p>In such vein, we are open for possible joint research projects on either topics of our expertise or new challenging topics to us. On behalf of our Principal Committee, and all the SDASers, it is my great pleasure to cordially invite you to know more about us, and collaborate with SDAS Research Group. And of course, if you are interested in joining us and becoming a SDASer, we would be delighted to receive and evaluate your membership application.</p>
                                    <p>Finally, I want to express my sincere gratitude to all my dear SDASers. I am deeply grateful with our Principal Committee, staff members and all SDASers to believe in and work actively for this initiative, which begun as a joint dream and has now become in this invaluable reality.</p>
                                    <p>Let's keep SDASing together!</p>
                                    <p>Best regards,</p>
                                    <p><b><a href="https://sdas-group.com/members/Diego-Hernan-Peluffo-Ordonez/">Diego Hernán Peluffo-Ordóñez</a></b></p>
                                    <p>Head and Founder</p>
                                    <p>SDAS Research Group</p>      
                                </div>
                            </article><!--//news-item-->
                        </div>
                </div>
            </div>
{% endblock content %}