{% extends "layout/index.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">News</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">News</li>
                        </ul>
                    </div>
                </header>
            </div>

            <div class="col-lg-9">
                <section class="widget has-divider">
                    <div class="section-content"> 
                        <h5 class="title"><center><u>A Data-Driven Approach for Automatic Classification of Extreme Precipitation</u></center></h5>
                        <p>The project consists in applying data science techniques to forecast precipitation storms in the Metropolitan District of Quito. This proposal arises from an agreement between the Metropolitan Public Company of Drinking Water and Sanitation of Quito (EPMAPS), the Fund for Water Protection (FONAG) through the Water and Paramo Scientific Station (ECAP), and the Smart Data Analysis Systems Group (SDAS Research Group).</p>
                        <p>Initial results exhibit that the project has successfully applied fundamental concepts of Artificial Intelligence, Machine Learning and Deep Learning to generate a model that improves the scope of storm research in the Andes and in turn enhances optimal and efficient decision making.</p>
                        <p>This project’s main researcher is our degree student <a href="https://sdas-group.com/members/Juan-Fernando-Gonzalez-Vergara/" target="_blank">Juan Gonzalez</a>.</p>
                        <p>Find more info below:</p>
                        <ol>
                            <li>Interviews: <a href="http://www.fonag.org.ec/web/sistema-piloto-de-alerta-temprana-para-precipitaciones-extremas/" target="_blank">http://www.fonag.org.ec/web/sistema-piloto-de-alerta-temprana-para-precipitaciones-extremas/</a></li>
                            <li>Paper: A Data-Driven Approach for Automatic Classification of Extreme Precipitation</li>
                        </ol>
                        <p>Events: Preliminary Results [<a href="https://link.springer.com/chapter/10.1007/978-3-030-61702-8_14" target="_blank">https://link.springer.com/.../10.1007/978-3-030-61702-8_14</a>]</p>
                        <ol>
                            <li>Talk: <a href="https://www.youtube.com/watch?v=slCrvWQHH1I" target="_blank">https://www.youtube.com/watch?v=slCrvWQHH1I</a></li>
                        </ol>
                    </div>
                </section>
            </div>        
{% endblock content %}