{% extends "layout/index.html" %}
{% load static %}

{% block title %}Partnership{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Services</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Services</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="page-content">
              <figure class="thumb col-md-12 col-sm-12 col-xs-12">
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <img src="{% static 'libs/img/Consortium_SDAS_Vlesim_Cendecyt.png' %}" style="width: 550px; height: 500px;" class="img-responsive" alt="No image found"/>
              </figure>
            </div>
{% endblock content %}
