{% extends "layout/index.html" %}
{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Services</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Services & Partnerships</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="page-content">
                    <div class="page-row">
                        <p>At SDAS Group, we believe progress thrives through collaboration. That's why we forge strategic partnerships with industry leaders, innovators, and local experts worldwide. Together,
                          we deliver integrated solutions, shared expertise, and sustainable growth – turning challenges into opportunities.
                        </p>
                    </div>
                    <div class="row page-row">
                        <div class="col-md-4 col-12 text-center">
                            <div class="album-cover">
                                <a href="https://www.vlesim.com/"><img class="img-fluid" src="/static/libs/img/vlesim_logo.png" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="https://www.vlesim.com/" target="_blank">VLESIM</a></small></h4>
                                    <p>Vlesim integrates cutting-edge technology to streamline processes, reduce costs, and boost energy efficiency.
                                      We help industries optimize production while minimizing environmental impact – merging productivity with
                                      sustainability.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12 text-center">
                            <div class="album-cover">
                                <a href="https://www.sdas-group.com/"><img class="img-fluid" src="/static/libs/img/sdas_logo.png" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="https://www.sdas-group.com/" target="_blank">SDAS Research Group</a></small></h4>
                                    <p>SDAS Research Group unites global experts to develop AI-driven data solutions for industry, medicine, and education.
                                      We blend human expertise with ethical AI, offering specialized consulting and deployable intelligent systems.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12 text-center">
                            <div class="album-cover">
                                <a href="https://www.sdas-group.com/cendecyt"><img class="img-fluid" src="/static/libs/img/cendecyt_logo.png" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="https://www.sdas-group.com/cendecyt" target="_blank">CENDECYT</a></small></h4>
                                    <p>Cendecyt is a startup solving unique challenges with accelerator tech like AI and machine learning.
                                      Tailored solutions for clients, leveraging innovation to transform complex problems into scalable opportunities.
                                    </p>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
{% endblock content %}
