{% extends "layout/index.html" %}
{% load static %}

{% block title %}Phd Thesis{% endblock %}

{% block content %}
    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
              <ul>
                <li>
                <h5 class="title">
                  <justify>
                    <b><a href="https://sedici.unlp.edu.ar/handle/10915/197146" target="_blank">
                      I-SDR: Método generalizado de reducción de atributos mediante la visualización interactiva de los datos [I-SDR: Interactive Spectral Dimensionality Reduction]
                    </a></b>by Cosme MacArthur Ortega-Bustamante
                  </justify>
                </h5>
                </li>

                <li>
                <h5 class="title">
                  <justify>
                    <b><a href="https://digibug.ugr.es/handle/10481/90846" target="_blank">
                      Reconstrucción 3D de escenarios en tiempo real a partir de cámaras de tipo monocular empleando técnicas de inteligencia artificial [Real-time 3D reconstruction of scenarios from monocular cameras using artificial intelligence techniques]
                    </a></b>by Erick Herrera
                  </justify>
                </h5>
                </li>

                <li>
                <h5 class="title">
                  <justify>
                    <b><a href="https://digibug.ugr.es/handle/10481/85698" target="_blank">
                      Diseño de sistemas inteligentes de realidad virtual para la monitorización de entornos en Smart Factory [Design of intelligent virtual reality systems for the monitoring of environments in Smart Factories Factory]
                    </a></b>by Luis Omar Alpala
                  </justify>
                </h5>
                </li>

                <li>
                <h5 class="title">
                  <justify>
                    <b><a href="https://www.diegopeluffo.com/Theses/2023_PhD_Thesis_Miguel_Becerra.pdf" target="_blank">
                      Framework de fusión de datos y calidad de la información para sistemas de información [Data fusion and information quality framework for information systems]
                    </a></b>by Miguel Becerra
                  </justify>
                </h5>
                </li>

                <li>
                <h5 class="title">
                  <justify>
                    <b><a href="https://gredos.usal.es/jspui/handle/10366/135721" target="_blank">
                      Sistema genérico de razonamiento basado en casos multi-clase como soporte al diagnóstico médico mediante técnicas de reconocimiento de patrones [Generic multi-class case-based reasoning system to support medical
                      diagnosis by means of pattern recognition techniques]
                    </a></b>by Xiomara Blanco
                  </justify>
                </h5>
                </li>
              </ul>
            </div>
        </section>
    </div>
{% endblock content %}
