{% extends "layout/index.html" %}
{% load static %}

{% block title %}Research Topics{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Research Lines</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Research Lines</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="page-content">
                <div class="row page-row">
                        <div class="news-wrapper col-md-10 col-sm-7">                         
                            <article class="news-item page-row has-divider clearfix row">       
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <header class="page-heading clearfix">
                                        <h3 class="heading-title pull-left">Current Research Lines</h3>
                                    </header>
                                    {% for research_line in research_line_info %}
                                    {% ifequal research_line.type_line 300 %}
                                    <h3 class="title"><a target="_blank" href="{{ research_line.url_research }}">{{ research_line.research_line }}</a></h3>
                                    <p style="text-align: justify; alignment-adjust: auto">{{ research_line.description }}</p>
                                    {% endifequal %}
                                    {% endfor %}
                                    <header class="page-heading clearfix">
                                        <h3 class="heading-title pull-left">Past Research Lines</h3>
                                    </header>
                                    {% for research_line in research_line_info %}
                                    {% ifequal research_line.type_line 310 %}
                                    <h3 class="title"><a target="_blank" href="{{ research_line.url_research }}">{{ research_line.research_line }}</a></h3>
                                    <p style="text-align: justify; alignment-adjust: auto">{{ research_line.description }}</p>
                                    {% endifequal %}
                                    {% endfor %}
                                </div>
                            </article><!--//news-item-->
                        </div>
                </div>
            </div>
{% endblock content %}