{% extends "layout/index.html" %}
{% load static %}

{% block title %}Scholarships{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Scholarships</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">Scholarships</li>
                    </ul>
                </div>
        </header>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5> </h5>
                <p class="description">
                    The following scholarships are offered and granted upon approval by the Principal Committee, and are subject to the policies stated at the <a href="https://sdas-group.com/documentation/">Administrative Information and Policies Document</a> of SDAS Research Group.
                </p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5> </h5>
                <p class="description">
                    <a target="_blank" href="https://forms.gle/R18Aqkzy5ipXtHvL6">Scholarship application form.</a>
                </p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u>(OPEN) TGs, GFP and PTF Scholarships</u></center></h5>
                <p>The call for travel grants (TGs), grants for purchase of various items (GFP) and payment-of-tuition-fee (PTF) scholarships is always open. They are evaluated and granted by the PC upon express request by the applicant. The application procedure is as follows:</p>
                <ol>
                    <li>
                        The applicant (being officially a SDASer) should apply via the scholarship application form requesting information about PTF scholarships, GFP or TGs availability at the date of interest and for the required amount (USD/EUR).
                    </li>
                    <li>
                        Also, the applicant should submit a one-page motivation letter, and an updated CV (formatted following the SDAS Group recommended template).
                    </li>
                    <li>
                        Either in an ordinary or extraordinary meeting, the PC will evaluate the request.
                    </li>
                    <li>
                        If accepted and once signed the contract, the approved funding support will be given to the scholarship holder via either direct payment on invoices or debit account deposit, as be more convenient. TGs, GFP and PTF Scholarships will become effective in a period not less than a month.
                    </li>
                </ol>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SH-Flex-2023-1</u></center></h5>
                <p><b>Publication date:</b> 27-01-2023</p>
                <p><b>Deadline:</b> 30-01-2023.</p>
                <p><b>Scholarship:</b> Half (1/2) - Flexible</p>
                <p> <b>Description:</b> Internal Half Scholarship for a SDASer being a Volunteer.</p>
                <p><b>Duration:</b>  Flexible.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support educational material (slide decks, lecture notes and Python notebooks) creation on deep learning.</li>
                    <li>Support research tasks related to the research programs on applied mathematics, and machine learning and data analytics.</li>
                    <li>Collaborate with the advising of Master’s and undergraduate students.</li>
                    <li>Participate actively in activities and events organized by SDAS Group.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date via the scholarship form.</p>
                <p><b>Starting date:</b> 01-02-2023.</p>
                <p><b>Location: </b> Morocco.</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SH-Flex-2023-2</u></center></h5>
                <p><b>Publication date:</b> 25-02-2023</p>
                <p><b>Deadline:</b> 28-02-2023.</p>
                <p><b>Scholarship:</b> Half (1/2) - Flexible</p>
                <p> <b>Description:</b> Internal Half Scholarship for a SDASer being a Volunteer.</p>
                <p><b>Duration:</b>  Flexible.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support educational material (slide decks, lecture notes) creation on deep learning and computational biology.</li>
                    <li>Support research tasks related to the research programs on deep learning and AI for biological applications.</li>
                    <li>Collaborate with the advising of Master’s and undergraduate students.</li>
                    <li>Participate actively in activities and events organized by SDAS Group.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date via the scholarship form.</p>
                <p><b>Starting date:</b> 01-03-2023.</p>
                <p><b>Location: </b> Morocco.</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(OPEN) Reference:</b> SDAS-SH-2022-2</u></center></h5>
                <p><b>Publication date:</b> 27-10-2022</p>
                <p><b>Deadline:</b> 30-10-2022.</p>
                <p><b>Scholarship:</b> Half (1/2)</p>
                <p> <b>Description:</b> Internal Half Scholarshi for a SDASer being a Volunteer.</p>
                <p><b>Duration:</b>  3 months.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support educational material (slide decks, lecture notes and Python notebooks) creation on deep learning.</li>
                    <li>Support research tasks related to the research programs on applied mathematics, and machine learning and data analytics.</li>
                    <li>Collaborate with the advising of Master’s and undergraduate students.</li>
                    <li>Participate actively in activities and events organized by SDAS Group.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date via the scholarship form.</p>
                <p><b>Starting date:</b> 01-11-2022.</p>
                <p><b>Location: </b> Morocco.</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(OPEN) Reference:</b> SDAS-SH-2022-1</u></center></h5>
                <p><b>Publication date:</b> 18-05-2022</p>
                <p><b>Deadline:</b> 25-05-2022.</p>
                <p><b>Scholarship:</b> Half (1/2)</p>
                <p> <b>Description:</b> Internal Scholarship (1/2) for a SDASer being a Master's student.</p>
                <p><b>Duration:</b> To be defined as required (up to two years).</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Finish successfully the Master's studies.</li>
                    <li>Support research tasks related to the research programs on artificial intelligence for electrical engineering and applied mathematics.</li>
                    <li>Collaborate with the advising of undergraduate students.</li>
                    <li>Participate actively in activities and events organized by SDAS Group.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> 01-06-2022.</p>
                <p><b>Location: </b> Chile.</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(OPEN) Reference:</b> SDAS-SQ-2021-2</u></center></h5>
                <p><b>Publication date:</b> 03-05-2021</p>
                <p><b>Deadline:</b> Flexible.</p>
                <p><b>Scholarship:</b> Half (1/2)</p>
                <p> <b>Description:</b> Internal Scholarship (1/2) for a SDASer being a Master's student.</p>
                <p><b>Duration:</b> To be defined as required (up to two years).</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Finish successfully the Master's studies.</li>
                    <li>Support research tasks related to dimensionality reduction, kernel methods and related topics.</li>
                    <li>Collaborate with the advising of undergraduate students.</li>
                    <li>Participate actively in activities and events organized by SDAS Group.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> To be defined as required.</p>
                <p><b>Location: </b> France.</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SH-2021-3, SDAS-SH-2021-4, SDAS-SH-2021-5</u></center></h5>
                <p><b>Publication date:</b> 20-09-2021</p>
                <p><b>Deadline:</b> 27-09-2021</p>
                <p><b>Scholarship:</b> Half (1/2)</p>
                <p> <b>Description:</b> Internal Scholarship (1/2) for a SDASer being a volunteer.</p>
                <p><b>Duration:</b> 3 months.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support research tasks related to machine learning and related topics.</li>
                    <li>Collaborate with the advising of undergraduate students.</li>
                    <li>Participate actively in activities and events organized by SDAS Group.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> 01-10-2021.</p>
                <p><b>Location: </b> Morocco.</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SH-2021-2</u></center></h5>
                <p><b>Publication date:</b> 03-05-2021</p>
                <p><b>Deadline:</b> 20-05-2021</p>
                <p><b>Scholarship:</b> Half (1/2)</p>
                <p> <b>Description:</b> Internal Scholarship (1/2) for a SDASer being a Volunteer Researcher.</p>
                <p><b>Duration:</b> 3 months.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support data clustering research assignments.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> 01-06-2021</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SH-2021-1</u></center></h5>
                <p><b>Publication date:</b> 09-04-2021</p>
                <p><b>Deadline:</b> 25-04-2021</p>
                <p><b>Scholarship:</b> Half (1/2)</p>
                <p> <b>Description:</b> Internal Scholarship (1/2) for a SDASer being a Volunteer Researcher.</p>
                <p><b>Duration:</b> 3 months.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Work as a half-time ML/DL engineer.</li>
                    <li>Support artificial intelligence research assignments.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> 01-05-2021</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SQ-2021-1</u></center></h5>
                <p><b>Publication date:</b> 09-04-2021</p>
                <p><b>Deadline:</b> 14-04-2021</p>
                <p><b>Scholarship:</b> Quarter (1/4)</p>
                <p> <b>Description:</b> Internal Scholarship (1/4) for a SDASer being a Volunteer Researcher.</p>
                <p><b>Duration:</b> 3 months.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support medical data analysis research assignments.</li>
                    <li>Support paperwork.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> 15-04-2021</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SH-2020-1, SDAS-SH-2020-2</u></center></h5>
                <p><b>Publication date:</b> 03-10-2020</p>
                <p><b>Deadline:</b> 12-10-2020</p>
                <p><b>Scholarship:</b> Half (1/2)</p>
                <p> <b>Description:</b> Internal Scholarship (1/2) for two SDASers being Junior Researchers.</p>
                <p><b>Duration:</b> 3 months.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support programming tasks (Python code reviewing and GitLab management).</li>
                    <li>Support academic material building and reviewing.</li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> 15-10-2020</p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u><b>(CLOSED) Reference:</b> SDAS-SF-2020-1 </u></center></h5>
                <p><b>Publication date:</b> 22-06-2020</p>
                <p><b>Deadline:</b> 26-06-2020</p>
                <p><b>Scholarship:</b> Full (2.5)</p>
                <p> <b>Description:</b> Internal Scholarship Full (2.5) for a SDASer being Junior Researcher and PhD Student under the supervision of a Principal Researcher.</p>
                <p><b>Duration:</b> 3 months.</p>
                <p><b>Duties:</b></p>
                <ul>
                    <li>Support research activities related to discrete and computational optimization.</li>
                    <li>Support the creation and reviewing of academic material. </li>
                </ul>
                <p><b>Application:</b> Applicants must submit their one-page motivation letter and updated CV by deadline date to the official SDAS Research Group contact email.</p>
                <p><b>Starting date:</b> 01-07-2020</p>
            </div>
        </section>
    </div>

{% endblock content %}
