{% extends "layout/index.html" %}
{% load static %}

{% block title %}Scholarships{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Scholarships</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">Scholarships</li>
                    </ul>
                </div>
        </header>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5> </h5>
                <p class="description">
                    The following scholarships are offered and granted upon approval by the Principal Committee, and are subject to the policies stated at the <a href="https://sdas-group.com/documentation/">Administrative Information and Policies Document</a> of SDAS Research Group.
                </p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5> </h5>
                <p class="description">
                    <a target="_blank" href="https://forms.gle/R18Aqkzy5ipXtHvL6">Scholarship application form.</a>
                </p>
            </div>
        </section>
    </div>

    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                <h5 class="title"><center><u>(OPEN) TGs, GFP and PTF Scholarships</u></center></h5>
                <p>The call for travel grants (TGs), grants for purchase of various items (GFP) and payment-of-tuition-fee (PTF) scholarships is always open. They are evaluated and granted by the PC upon express request by the applicant. The application procedure is as follows:</p>
                <ol>
                    <li>
                        The applicant (being officially a SDASer) should apply via the scholarship application form requesting information about PTF scholarships, GFP or TGs availability at the date of interest and for the required amount (USD/EUR).
                    </li>
                    <li>
                        Also, the applicant should submit a one-page motivation letter, and an updated CV (formatted following the SDAS Group recommended template).
                    </li>
                    <li>
                        Either in an ordinary or extraordinary meeting, the PC will evaluate the request.
                    </li>
                    <li>
                        If accepted and once signed the contract, the approved funding support will be given to the scholarship holder via either direct payment on invoices or debit account deposit, as be more convenient. TGs, GFP and PTF Scholarships will become effective in a period not less than a month.
                    </li>
                </ol>
            </div>
        </section>
    </div>

    {% for scholarship in scholarships %}
    <div class="col-lg-9">
        <section class="widget has-divider">
            <div class="section-content">
                {% if scholarship.status == 500 %}
                <h5 class="title"><center><u><b>(OPEN) Reference: </b> {{ scholarship.reference }}</u></center></h5>
                {% endif %}
                {% if scholarship.status == 510 %}
                <h5 class="title"><center><u><b>(CLOSED) Reference: </b> {{ scholarship.reference }}</u></center></h5>
                {% endif %}
                <p><b>Publication date:</b> {{ scholarship.publication_date }}</p>
                <p><b>Deadline:</b> {{ scholarship.deadline_date }}</p>
                {% if scholarship.type == 600 %}
                <p><b>Scholarship:</b> Half </p>
                {% endif %}
                {% if scholarship.type == 610 %}
                <p><b>Scholarship:</b> Full </p>
                {% endif %}
                <p> <b>Description:</b> {{ scholarship.description }}</p>
                <p><b>Duration:</b>  {{ scholarship.duration }}</p>
                <p><b>Duties:</b></p>
                <p>{{ scholarship.duties }}</p>
                <p><b>Application:</b>{{ scholarship.application }}</p>
                <p><b>Starting date:</b> {{ scholarship.starting_date }}</p>
                <p><b>Country: </b> {{ scholarship.country }}</p>
            </div>
        </section>
    </div>
    {% endfor %}

{% endblock content %}
