{% extends "layout/index.html" %}
{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Services</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Services</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="section-content">
                <div>
                    <p style="text-align: center; alignment-adjust: auto">If interested, please <a href="{% url 'contact' %}">contact us</a>. Download our Services Brochure <a target="_blank" download="SDAS_Group_Services_Brochure.pdf" href="https://drive.google.com/file/d/1gg201wUZyI1waxHWmV0kifNAf27jWAE-/view?usp=sharing">(PDF File).</a>
                    </p>
                </div>
                <div class="carousel-inner">                
                    <article>
                        <div>
                            <figure>
                                <center><a target="_blank" download="SDAS_Group_Services_Brochure.pdf" href="https://drive.google.com/file/d/1ttHFfRO2lDLNPjD07Uwc-UWMVS-QDA5q/view">
                                    <img src="{% static 'libs/img/Sdas_Services_2.jpeg' %}"></a>
                                </center>
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
{% endblock content %}
