{% extends "layout/index.html" %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Gallery: {{ title_gallery.title }}</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/">{{ title_gallery.title }}</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">{{ title_gallery.title }}</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="page-content">     
                <div class="row page-row">
                    {% for image in images %}
                    <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="{{ image.image.url }}"><img class="img-responsive img-thumbnail" src="{{ image.image.url }}" alt=""/></a>
                    {% endfor %}
                </div>
            </div>
{% endblock content %}