{% extends "layout/index.html" %}
{% load static %}

{% block title %}Members{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">{{ single_member.full_name }}</h1>
                </header>
            </div>
            <div class="page-content">
                <div class="row page-row">
                        <div class="news-wrapper col-md-10 col-sm-7">
                            <article class="news-item page-row has-divider clearfix row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" style="width: 400px; height: auto;" src="{{ single_member.photo.url }}" alt="" />
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    {% ifequal single_member.type_member 20 %}
                                        <h4 class="title">Head of the Group</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 30 %}
                                        <h4 class="title">Analyst</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 40 %}
                                        <h4 class="title">Project Controls Manager</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 50 %}
                                        <h4 class="title">Principal Researcher</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 60 %}
                                        <h4 class="title">Senior Researcher</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 70 %}
                                        <h4 class="title">Junior Researcher</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 80 %}
                                        <h4 class="title">Research Assistant - Level III</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 90 %}
                                        <h4 class="title">Research Assistant - Level II</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 100 %}
                                        <h4 class="title">Research Assistant - Level I</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 110 %}
                                        <h4 class="title">Research Engineer</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 120 %}
                                        <h4 class="title">Research Volunteer</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 130 %}
                                        <h4 class="title">Honorary Research Fellow</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 140 %}
                                        <h4 class="title">External Collaborator</h4>
                                    {% endifequal %}

                                    {% ifequal single_member.type_member 150 %}
                                        <h4 class="title">Web Master</h4>
                                    {% endifequal %}

                                    <p><b>
                                    {% if single_member.website %}
                                    | website: <a target="_blank" href="{{ single_member.website }}">{{ single_member.website }}
                                    {% endif %}
                                    </a></b></p>
                                </div>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    {% if single_member.description %}
                                    <p style="text-align: justify; alignment-adjust: auto">{{ single_member.description }}</p>
                                    {% endif %}

                                    <h4 class="title">Research Interests</h4>
                                    <p style="text-align: justify; alignment-adjust: auto"><span style="text-align: left;">{{ single_member.research_interest }}</p>

                                    <h4 class="title">Publications (may take some time to be displayed)</h4>
                                    <script src="{{ single_member.publications_url }}"></script>

                                </div>
                            </article><!--//news-item-->
                        </div>
                </div>
            </div>
{% endblock content %}
