{% extends "layout/index.html" %}
{% load static %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Terms of Use</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Terms of Use</li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="page-content">
                <div class="row page-row">
                        <div class="news-wrapper col-md-10 col-sm-7">                         
                            <article class="news-item page-row has-divider clearfix row">       
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3>Usage Policy</h3>
                                    <p>This website can be used only for its intended purposes of providing publicly access to administrative, technical, academic and scientific information about the SMART DATA ANALYSIS SYSTEMS GROUP (SDAS Research Group). Another different usage as well as any copy of material or text will be condemned by copyright laws.</p>
                                    <h3>Website Content</h3>
                                    <p>All content found on www.sdas-group.com is property of SDAS Research Group.</p>
                                    <h3>Copyright Information</h3>
                                    <p>All text, HTML, document and media found on this website are original, copyrighted content of SDAS Research Group. 
                                    Please report all copyright violations to <a href="https://sdas-group.com/contact/">Contact Us</a>.</p> 
                                    <h3>Linking and Spreading Policy</h3>
                                    <p>Linking and Spreading of this website or any SDAS Research Group information must be announced to and accepted by the Principal Committee (as stated in the <a href="https://sdas-group.com/documentation/">Administrative Information and Policies Document</a>).</p> 
                                    <p>Please address all questions regarding usage of this website to <a href="https://sdas-group.com/contact/">Contact Us</a> or directly to the email address contact(at)sdas-group.com.</p>
                                </div>
                            </article><!--//news-item-->
                        </div>
                </div>
            </div>
{% endblock content %}